<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>豆瓣电影短评</title>
    <link rel="stylesheet" href="statics/css/bootstrap.min.css">
    <script src="statics/js/jquery.slim.min.js"></script>
    <script src="statics/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/douban/movie">首页</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
</nav>
<div class="container">
    <h3 class="mt-5 mb-3">电影名称：{{ movie_name }}</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <!-- <th scope="col">评论人</th> -->
            <th scope="col">短评</th>
            <th scope="col" class="text-nowrap">星级</th>
            <th scope="col">评论时间</th>
        </tr>
        </thead>
        <tbody>

    {% for comment_info in comments %}
    
        <tr>
            <th>{{ comment_info.id }}</th>
            <!-- <td>{{ comment_info.nickname }}</td> -->
            <td style="word-wrap:break-word;word-break:break-all;overflow:hidden;" width="1024px";>{{ comment_info.content }}</td>
            <td>{{ comment_info.rate }}</td>
            <td class="text-nowrap">{{ comment_info.comment_date }}</td>
        </tr>

    {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>